 header {
  border: 1px dashed;
  border-radius: 4%;
  background-color: rgb(182, 255, 255, 0.8);
 } 
 
 body {  
   background: #00416A;
   background-image: url(/img/magnifying-glass.png);
   background-size: 10%;
   background-repeat: space;
 }

 #caps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px dashed;
  background-color: rgba(182, 255, 255, 0.8);
  border-radius: 2%;
}

#caps div{  
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid purple;  
  border-radius: 100%;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: xx-large;
  color:aliceblue;
  background-color: rgba(0, 148, 148);
  margin: 1%;  
}

footer{
  border: 1px dashed;
  border-radius: 5%;
  background-color: rgba(127, 255, 212, 0.8);
}
