 * {
  font-family: 'Bitter', serif;
 }
 
 header {
  text-align: center;
  border: 1px solid;
  border-radius: 2%;
  background-color: rgb(18, 184, 184);
 }

 header h1 {
  font-style: normal;
  font-size: xx-large;
 }

 header p{
  font-style: italic;
  font-size: larger;
 }
 
 body {  
   background: #001a2a;
 }

 #caps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

#caps div{  
  display: flex;
  align-items: center;
  justify-content: center; 
  border-radius: 5%;
  width: 150px;
  height: 100px;
  text-align: center;
  font-size: xx-large;
  color:aliceblue;
  background-color: rgb(18, 184, 184);
  margin: 1%;  
}

#caps div:hover {
  background-color: rgb(18, 90, 90);
}

footer{
  border: 1px dashed;
  border-radius: 5%;
  background-color: rgb(18, 184, 184);
  text-align: center;
  font-size: larger;
  font-style: italic;
}
